
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/config/applicationhost.config
[Pa]ckages*/
/MVC/packages/
/.vs/MEDFAR.Test.Web/v16/Server/sqlite3
/packages/Antlr.3.4.1.9004
/packages/bootstrap.3.0.0
/packages/EntityFramework.6.1.3
/packages/jQuery.1.10.2
/packages
/.vs/MEDFAR.Test.Web/config
